/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 19, 2020, 10:07:14 PM
    Author     : kar
*/

/*.button { 
   -fx-background-color: red; 
   -fx-text-fill: white; 
} */

Button {
    -fx-padding: 10;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(to right,#66ccff,#ff00ff,#ff704d);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
Button:hover {
    -fx-background-color: linear-gradient(to right,#1a1aff,#ff00ff, #ff471a);
}
Button:pressed {
    -fx-padding: 8;
     -fx-background-color:#ff00ff; 
/*     -fx-text-fill: black;*/
    -fx-background-insets: 0,50,  60 ,70;
}

/*Button Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}*/

